<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

<appSettings>
  <add key="password" value=""/>
  <add key="username" value=""/>
  <add key="domainIDs" value=";"/>
  <add key="domainNames" value=";"/>
</appSettings>
</configuration>
